

<div class = "row">
    
    <div class="jumbotron">
        <div class = "row">
            <div class = " col-md-6 col-md-offset-4 center">
                <h1>Lyric Wars!!!</h1>
            </div>
          
         </div>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    
</div>

